<header tuiNavigationHeader>
  <button
    tuiIconButton
    tuiNavigationDrawer
    type="button"
  >
  </button>
  <a tuiNavigationLogo href="/">
    <tui-icon icon="@tui.store" />
    Fashion B2BWL
  </a>
  <hr />
  <button
    appearance="flat-grayscale"
    iconStart="@tui.bell"
    size="s"
    tuiIconButton
    type="button"
  ></button>
  <button
    appearance="flat-grayscale"
    iconStart="@tui.settings"
    size="s"
    tuiIconButton
    type="button"
    class="header-settings"
  ></button>

  <!-- Official Taiga UI Language Switcher Component -->
  <app-language-switcher style="display: flex !important; background-color: red !important; padding: 5px; border: 3px solid yellow; min-width: 50px; min-height: 50px; z-index: 9999;"></app-language-switcher>
  <tui-avatar
    appearance="secondary-grayscale"
    size="s"
    text="Admin"
  />
</header>
