<aside [tuiNavigationAside]="expanded">
  <header>
    <button
      tuiAsideItem
      (click)="toggle()"
    >
      <tui-icon [icon]="expanded ? '@tui.panel-left-close' : '@tui.panel-left-open'" />
    </button>
  </header>

  <a
    tuiAsideItem
    routerLink="/dashboard"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <tui-icon icon="@tui.layout-grid" />
    {{ 'SIDEBAR.DASHBOARD' | transloco }}
  </a>

  <a
    tuiAsideItem
    routerLink="/categories"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <tui-icon icon="@tui.folder-open" />
    {{ 'SIDEBAR.CATEGORIES' | transloco }}
  </a>

  <a
    tuiAsideItem
    routerLink="/products"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <tui-icon icon="@tui.package" />
    {{ 'SIDEBAR.PRODUCTS' | transloco }}
  </a>

  <a
    tuiAsideItem
    routerLink="/product-variants"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <tui-icon icon="@tui.layers" />
    {{ 'SIDEBAR.VARIANTS' | transloco }}
  </a>

  <a
    tuiAsideItem
    routerLink="/rule-engine"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <tui-icon icon="@tui.settings-2" />
    {{ 'SIDEBAR.RULE_ENGINE' | transloco }}
  </a>

  <a
    tuiAsideItem
    routerLink="/users"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <tui-icon icon="@tui.users" />
    {{ 'MEMBER.USERS_TITLE' | transloco }}
  </a>

  <a
    tuiAsideItem
    routerLink="/customer-groups"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <tui-icon icon="@tui.users-round" />
    {{ 'MEMBER.GROUPS_TITLE' | transloco }}
  </a>

  <a
    tuiAsideItem
    routerLink="/orders"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <tui-icon icon="@tui.shopping-cart" />
    {{ 'SIDEBAR.ORDERS' | transloco }}
  </a>

  <a
    tuiAsideItem
    routerLink="/staff"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <tui-icon icon="@tui.shield-check" />
    {{ 'SIDEBAR.STAFF' | transloco }}
  </a>

  <a
    tuiAsideItem
    routerLink="/registration-forms"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    <tui-icon icon="@tui.file-text" />
    {{ 'MEMBER.FORMS_TITLE' | transloco }}
  </a>

  <a
    tuiAsideItem
    routerLink="/storefront"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
    target="_blank"
  >
    <tui-icon icon="@tui.shopping-bag" />
    Xem Storefront (Clone)
  </a>

  <hr />

  <footer>
    <a tuiAsideItem routerLink="/">
      <tui-icon icon="@tui.circle-help" />
      Trợ giúp
    </a>
  </footer>
</aside>
